{% extends "Blog/Blog_Template.html" %}

{% block body %}

    <div id="break" class="container-fluid">
    </div>
    <div class="container-fluid">
        <h1>
            {{ blog.date }} Blog Post
        </h1>
    
        <h3>
            Subject:
        </h3>
        <h4>
            {{ blog.subject }}
        </h4>
        <h3>
            Post:
        </h3>
        <h4>
            {{ blog.content }}
        </h4>
        <a href="{% url 'blog_index' %}">Blog Home</a>
    </div>
{% endblock %}